@font-face{
    font-family: "bebas";
    src:url(../../Font/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: "montserrat";
    src:url(../../Font/Montserrat/static/Montserrat-Regular.ttf);
}
