body {
  background: linear-gradient(red, black);
}

.login-container {
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container h1 {
  font-family: "bebas";
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgba(73, 73, 73, 0.5803921569);
  letter-spacing: 8px;
}
.login-container form .form-group {
  margin-bottom: 15px;
}
.login-container form .form-group label[id=label-username],
.login-container form .form-group label[id=label-password] {
  color: #fff;
  font-family: "montserrat";
  display: block;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 15px;
  font-weight: bold;
}
.login-container form .form-group label {
  color: rgba(255, 255, 255, 0.5058823529);
  display: flex;
  text-align: left;
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: bold;
}
.login-container form .form-group label h4 {
  color: rgba(255, 255, 255, 0.8078431373);
  margin: 0;
  font-family: "montserrat";
}
.login-container form .form-group input[type=text],
.login-container form .form-group input[type=password] {
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "montserrat";
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.login-container form .form-group input::placeholder {
  color: #c9c9c9;
  padding-left: 10px;
  border: none;
}
.login-container form button {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00a33f;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 70%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-container form button:hover {
  background-color: #00c74c;
}
.login-container form .input-div {
  display: flex;
  align-items: center;
}
.login-container form .input-div .icon {
  position: absolute;
  right: 50px;
  color: #fff;
}
.login-container .nocloud {
  font-family: "montserrat";
  font-weight: 400;
}
.login-container .nocloud a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.login-container .nocloud a:hover {
  color: #d3d3d3;
}
.login-container .password-olvide {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 10px;
  top: 5px;
  font-size: 12px;
  left: 100px;
  font-family: "montserrat";
}
.login-container .password-olvide:hover {
  color: #c9c9c9;
}

.register-container {
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.register-container h1 {
  font-family: "bebas";
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgba(73, 73, 73, 0.5803921569);
  letter-spacing: 8px;
}
.register-container form .form-group {
  margin-bottom: 15px;
}
.register-container form .form-group label[id=label-username],
.register-container form .form-group label[id=label-password] {
  color: #fff;
  font-family: "montserrat";
  display: block;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 15px;
  font-weight: bold;
}
.register-container form .form-group label {
  color: rgba(255, 255, 255, 0.5058823529);
  display: flex;
  text-align: left;
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: bold;
}
.register-container form .form-group label h4 {
  color: rgba(255, 255, 255, 0.8078431373);
  margin: 0;
  font-family: "montserrat";
}
.register-container form .form-group input[type=text],
.register-container form .form-group input[type=password] {
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "montserrat";
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.register-container form .form-group input::placeholder {
  color: #c9c9c9;
  padding-left: 10px;
}
.register-container form button {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00a33f;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 70%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-container form button:hover {
  background-color: #00c74c;
}
.register-container form .input-div {
  display: flex;
  align-items: center;
}
.register-container form .input-div .icon {
  position: absolute;
  right: 50px;
  color: #fff;
}
.register-container .nocloud {
  font-family: "montserrat";
  font-weight: 400;
}
.register-container .nocloud a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.register-container .nocloud a:hover {
  color: #d3d3d3;
}
.register-container .password-olvide {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 10px;
  top: 5px;
  font-size: 12px;
  left: 100px;
  font-family: "montserrat";
}
.register-container .password-olvide:hover {
  color: #c9c9c9;
}

/*# sourceMappingURL=login.css.map */
