body {
  background: linear-gradient(
    0deg,
    rgba(0, 255, 248, 1) 0%,
    rgba(255, 223, 155, 1) 100%
  );
  min-height: 100vh;
}

//menu lateral

header {
  z-index: 999;
  position: relative;
  max-width: 300px;
  top: 100px;
  display: flex;
  text-align: center;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;

  li {
    background-color: #95a5ff;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    list-style: none;
  }
}

//section principal
.canvas {
  position: relative;
  top: -80px;
  height: 800px;
}

.print {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  position: relative;
  width: 80%;
  padding: 25px;
  color: #5c5c5c;
  border-radius: 15px;
  margin: auto;
  top: -500px;
  h1,
  p {
    text-align: center;
    font-family: bebas;
  }

  h1 {
    font-size: 45px;
    color: #202020;
    letter-spacing: 5px;
    span {
      color: rgb(90, 151, 128);
    }
  }

  p {
    font-size: 20px;
    color: #585858;
    span {
      color: rgb(184, 166, 252);
    }
  }
  .cell-pc {
    display: flex;

    Spline {
      width: 50%;
    }
  }
}
